<div fxLayout="row">
  <div fxFlex="50" fxLayoutAlign="center center">
      <div class="card" style="width: 50%; height: 100%">
        <div class="card-body" fxLayout="column" fxLayoutAlign="center start">
          <h5 class="card-title">Contactame...</h5>
            <form (ngSubmit)="onSubmit(contactoForm);" #contactoForm="ngForm" fxLayout="column" fxLayoutAlign="space-between center">
              <input [(ngModel)]="contactoModel.nombre" class="form-control campo" type="text" placeholder="Nombre" name="nombre"  maxlength="50" required/>
              <input [(ngModel)]="contactoModel.email" class="form-control campo" type="email" placeholder="Email" name="email" maxlength="50" required/>
              <input [(ngModel)]="contactoModel.celular" class="form-control campo" type="text" placeholder="Celular" name="celular" title="Formato: 5512345678" maxlength="10" pattern="[0-9]{10}" required/>
              <input [disabled]="!contactoForm.form.valid" class="btn btn-dark" type="submit" value="Enviar"/>
            </form>
        </div>
      </div>
  </div>
  <div fxFlex="50">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="card" style="width: 50%;">
        <div fxLayout="row" fxLayoutAlign="space-around center" class="img-contacto">
          <div class="contacto"></div>
        </div>
        <div class="card-body">
          <h5 class="card-title">Mi contacto...</h5>
          <b>Celular:</b>
          <div class="card">
            <div class="card-body">
              5548456246
            </div>
          </div>
          <b>Email:</b>
          <div class="card">
            <div class="card-body">
              ame_rainbow@hotmail.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
