<div fxLayout="row" fxLayoutAlign="space-between stretch">
  <div class="card" style="width: 25%">
    <div class="card-header">
      Experiencia 1
    </div>
    <div class="card-body">
      <h5 class="card-title">Me desempeñe como...</h5>
      <p class="card-text">
        Ut rutrum justo odio, pharetra condimentum velit vehicula a. Mauris eget dolor id est facilisis tristique sit amet eget magna. Aenean facilisis turpis eu sem fermentum suscipit. Nullam imperdiet facilisis iaculis. Morbi posuere est quis ipsum facilisis, eget condimentum felis lacinia. Nunc ut elit diam. Donec eu turpis mi. Duis pretium luctus tellus. Vivamus vel mi.
      </p>
      <h6 class="card-subtitle mb-2 text-muted">Actividades</h6>
      <ul>
        <li>Nulla a ante vitae lectus fringilla imperdiet id at eros.</li>
        <li>Vestibulum tristique orci hendrerit ex placerat lobortis.</li>
        <li>Vivamus vitae odio id tellus euismod laoreet a ut tellus.</li>
        <li>Mauris faucibus mauris et aliquam ornare.</li>
        <li>Nullam sed neque nec sem pharetra mattis.</li>
      </ul>
    </div>
  </div><div class="card" style="width: 25%">
    <div class="card-header">
      Experiencia 2
    </div>
    <div class="card-body">
      <h5 class="card-title">Me desempeñe como...</h5>
      <p class="card-text">
        Ut rutrum justo odio, pharetra condimentum velit vehicula a. Mauris eget dolor id est facilisis tristique sit amet eget magna. Aenean facilisis turpis eu sem fermentum suscipit. Nullam imperdiet facilisis iaculis. Morbi posuere est quis ipsum facilisis, eget condimentum felis lacinia. Nunc ut elit diam. Donec eu turpis mi. Duis pretium luctus tellus. Vivamus vel mi.
      </p>
      <h6 class="card-subtitle mb-2 text-muted">Actividades</h6>
      <ul>
        <li>Nulla a ante vitae lectus fringilla imperdiet id at eros.</li>
        <li>Vestibulum tristique orci hendrerit ex placerat lobortis.</li>
      </ul>
    </div>
  </div><div class="card" style="width: 25%">
    <div class="card-header">
      Experiencia 3
    </div>
    <div class="card-body">
      <h5 class="card-title">Me desempeñe como...</h5>
      <p class="card-text">
        Ut rutrum justo odio, pharetra condimentum velit vehicula a. Mauris eget dolor id est facilisis tristique sit amet eget magna.
      </p>
      <h6 class="card-subtitle mb-2 text-muted">Actividades</h6>
      <ul>
        <li>Nulla a ante vitae lectus fringilla imperdiet id at eros.</li>
        <li>Vestibulum tristique orci hendrerit ex placerat lobortis.</li>
        <li>Vivamus vitae odio id tellus euismod laoreet a ut tellus.</li>
        <li>Mauris faucibus mauris et aliquam ornare.</li>
        <li>Nullam sed neque nec sem pharetra mattis.</li>
      </ul>
    </div>
  </div>
</div>
