<div fxLayout="row" fxLayoutAlign="space-around center">
  <div class="card" style="width: 30%;">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="img-contacto">
      <div class="contacto"></div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Sobre mí...</h5>
      <p class="card-text">
        Cras quis sapien tellus. Ut fermentum purus ex, nec commodo neque viverra commodo. Sed quam lorem, gravida a finibus non, volutpat at nunc. Quisque condimentum consequat massa, luctus vulputate dolor molestie vel. Suspendisse blandit ac mauris a sagittis. Quisque luctus lectus a nibh imperdiet bibendum. Morbi vitae ante augue. Maecenas aliquam aliquam mauris in eleifend. Donec luctus magna arcu, ac tempor leo dictum accumsan. Phasellus aliquet erat arcu, nec ultrices nulla molestie non. Sed placerat quam in nibh ultrices interdum. Cras sit amet maximus lectus, a rhoncus arcu. In hac habitasse platea dictumst. Donec gravida in mauris et vehicula. Nunc elementum aliquam dignissim.
      </p>
    </div>
  </div>
</div>
